
body{

    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
box-sizing: border-box;
}
.shadow{

    max-width: 1100px;
    margin: auto;
    border: 1px solid rgb(236, 234, 234);
}
.resume-section {
    border: 2px solid #b74d4d;
    margin-top: 15px;
    padding: 5px;
}

.container-homepage {
    margin: 20px;
    color: white;
    background-color: black;
    padding: 16px;
}
.profile a {
    color: #e54949;
    font-size: 24px;
    text-decoration: none;
}
.resume-section h2 {
    font-family: sans-serif;
    font-size: 28px;
}

.container-model p {
    font-size: 21px;
}

.navbar h1 {
    font-size: 26px;
}
.top-div {
    align-items: center;
    display: flex;
   
}
.top-div h2 {
    border: 1px solid;
    margin-left: 15px;
}
.top-div h3 {
    margin-left: 25px;
}
.container-experence {
    display: flex;
}
.right-container {
    width: 50%;
}

.container-model p {
    padding: 28px;
    border: 2px solid #c35050;
}

.container-box1 {
    margin-top: 24px;
    padding: 7px;
    border: 1px solid;
}
.left-container {
    width: 50%;
    margin-left: 70px;
}
span.box-m2 {
    font-size: 17px;
    border: 1px solid #f1a6a6;
    padding: 9px;
}
.top-div h3 {
    color: rgb(53, 53, 149);
    font-size: 18px;
}
.container-model1 {
    border: 2px solid #b74d4d;
    margin-top: 15px;
    padding: 4px;
}
.diff-container {
    display: flex;
}
.san-area {
    display: flex;
}
.diff-container h3 {
    border-radius: 5px;
    padding: 9px;
    font-size: 17px;
    margin-left: 16px;
    border: 1px solid;
}
.product-manager {
    display: flex;
    margin-top: 26px;
}
.text-center {
    border: none;
    background-color: #3a263a;
    border-radius: 47px;
    padding: 9px 22px;
    display: table;
    margin: auto;
    text-align: center;
    margin-top: 19px;
    font-size: 8px;
    margin-bottom: 24px;
}
.contaner-experence {
    display: flex;
}
.left-container1 {
    border: 1px solid #995151;
    padding: 5px;
    width: 50%;
}
.container-right-side {
    padding: 12px;
    border: 1px solid #c36868;
}

.container-left-side {
    padding: 12px;
    border: 1px solid #c36868;
    margin-left: 48px;   
}
.left-container h1 {
    font-size: 30px;
}
span {
    font-weight: 500;
    font-size: 23px;
}
.product-container {
    padding: 5px;
    border: 1px solid;
}
.product-management {
    padding: 5px;
    border: 1px solid; 
}
.text-center1 {
    border: none;
    background-color: #3a263a;
    border-radius: 47px;
    padding: 13px 41px;
    display: table;
    margin: auto;
    text-align: center;
    margin-top: 19px;
    font-size: 9px;
}
.container-model2 {
    border: 2px solid #b74d4d;
    margin-top: 15px;  
}
.right-container1 {
    margin-left: 48px;
    border: 1px solid;
    padding: 5px;
    width: 50%;
}
@media (max-width:600px){

    .left-container {
       width: 100%;
        margin-left: 0px;
    }
    .right-container {
        width: 100%;
    
    }
    .left-container1 {
        width: 100%;
    }
    .top-div {
        display: initial;
    }
    .container-model p {
        padding: 0px;
    }
    .container-experence {
        display:initial;
    }
    .top-div {
        display: initial;
       
    }
    .top-div h2 {
        margin-left: 0px;
    }
    .top-div {
        display: initial;
       
    }
    .top-div h2 {
        margin-left: 0px;
    }
    .top-div h3 {
        margin-left: 0px;
    }
    .product-manager {
        display: initial;
    }
    .container-left-side {
        margin-left: 0px;
    }
    .right-container1 {
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
    }
    .contaner-experence {
        display: initial;
    }
    .container-left-side {

        margin-left: 0px;
        margin-top: 13px;
    }

}
      

