body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-seprate-box {
    display: flex;
    align-items: center;
    padding: 12px;
   
}
.container-big-box{
    background-color: #efefef;
    margin-top: 23px;
}

.top-container-home{
    margin: 15px;
}
.shadow{
    max-width: 1100px;
    margin: auto;
    border: 1px solid rgb(240, 238, 238);
}

.seprate p {
    color: #5c5a5a;
    font-size: 20px;
}

.button {
    border-radius: 12px;
    padding: 0px 25px;
    color: white;
    background-color: #df3434;
    font-size: 13px;
}

ul.list li {
    color: #4e4a4a;
}


.navbar-row {
    color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
 
}

.nav-row {
    background-color: #df3434;
    padding: 11px;
}


.container-right p {
    color: #666464;
    font-size: 18px;
}

.next-row {
    display: flex;
    margin-bottom: -18px;
}

ul.list1 li {
    font-size: 20px;
    color: #5e5b5b;
    list-style-type: none;
}

.second-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


input[type="text"] {
    border: none;
    border-radius: 29px;
    width: 70%;
    padding: 7px;
}

.next-row h4,
.seprate h4 {
    color: #625f5f;
    margin-left: 26px;
    margin-top: 9px;
    font-size: 18px;
}

.reviews h1 {
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 30px;
}

.border-lenght {
    border-bottom: 2px solid #b95656;
}

ul.list1 li {
    color: #2a2828;
    font-size: 19px;
}

.navbar-box p,
.mail-container h4 {
    font-weight: 500;
    color: #787575;
    font-size: 15px;
}

.mail-container {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.biodata h1 {
    font-family: sans-serif;
    margin-top: 25px;
    font-size: 22px;
}

.biodata h3 {
    font-weight: 500;
    margin-top: 20px;
    font-size: 15px;
    color: #ada6a6;
}

.biodata h2 {
    margin-top: -9px;
    color: #f94747;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}

.container-data p {
    color: #5c5b5b;
    font-size: 16px;
}



.digital h4 {
    font-size: 12px;
    color: white;
    width: 73%;
    padding: 9px 14px;
    background-color: #d91c1c;
    border-radius: 8px;
    margin-top: 54px;
}

.container-right h1,
.container-right h3 {
    font-family: sans-serif;
    font-size: 22px;
}

span.light {
    font-weight: 500;
    color: #0d0d0d;
    font-family: sans-serif;
}

.container-right p {
    font-weight: 600;
    color: #3a3838;
    font-size: 18px;
}

.list-titles h3 {
    font-weight: 500;
    color: #898484;
    margin-left: 24px;
    font-size: 16px;
}

.links-cont li {
    list-style-type: none;
    margin-top: 12px;
    color: #727070;
}

.container-left h1 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.container-elect h2 {
    font-family: sans-serif;
    color: #403f3f;
    font-size: 15px;
}

.container-elect h3 {
    margin-top: -10px;
    color: #484747;
    font-size: 15px;
    margin-bottom: -12px;
}

ul.list2 li {
    font-size: 15px;
    color: #404040;
    margin-left: -19px;
}

.container-elect {
    margin-top: -14px;
    border-radius: 8px;
    padding: 5px;
}

.box h5 {
    border-radius: 5px;
    padding: 7px 11px;
    border-radius: 30px;
    border: 1px solid;
}

.first-div h5 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 12px;
    border-radius: 7px;
    padding: 11px 0px;
    border: 1px solid gray;
    width: 55%;
    margin-left: 8px;
    background-color: white;
}
.container-left {
    width: 50%;
    margin-left: 64px;
}

.one-row h5,
.two-row h5 {
    border-radius: 30px;
    padding: 7px 11px;
    border: 1px solid;
}
.container-right {
    width: 50%;
}
.second-div h5 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 12px;
    border-radius: 7px;
    padding: 11px 0px;
    border: 1px solid gray;
    width: 60%;
    margin-left: 8px;
    background-color: white;
}
.signup-btn {
    margin-left: 33px;
}

.profile a {
    font-weight: 600;
    text-decoration: none;
    font-size: 23px;
    color: #d70707;
}
.resume-section h2 {
    font-family: sans-serif;
    font-size: 26px;
    text-align: center;
  
}
.profile a {
    font-weight: 600;
    text-decoration: none;
    font-size: 22px;
    color: white;
}
.profile h3 {
    font-size: 21px;
}
.resume-section {
    color: white;
    background-color: #df3434;
}
.profile {
    justify-content: space-evenly;
    display: flex;
    margin-top: -18px;
}

@media (max-width: 600px) {
   
    .second-row,
    .next-row,
    .seprate h4 {
        display: initial;
    }


    ul.list2 li,
    .container-left {
        margin-left: 0;
        width: 100%;
    }
    
    .box,
    .one-row,
    .two-row {
        display: initial;
    }
    
    .container-right {
        width: 100%;
    }
/* input[type="text"] {
    padding: 0px;

} */
.signup-btn {
    margin-left: 0px;
}
.container-right {
    width: 100%;
}
.container-left {
    width: 100%;
    margin-left: 0px;
}


.navbar-row {
    display: initial;
   
}
.container-seprate-box {
    display: initial;
   
}
}

