.navbar {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.homepage-container {
    background-color: #ebe5e5;
}

.navbar-box {
    color: white;
    background-color: black;
}
ul.list li {
    font-size: 20px;
    margin-top: 13px;
    list-style-type: none;
}


ul.list1 li {
    color: #2a2828;
    font-size: 19px;
}
.navbar-box p {
    font-size: 20px;
    font-family: sans-serif;
}

.items h2 {
    font-weight: 500;
    color: #817e7e;
    font-size: 17px;
}
.list1 h3 {
    font-weight: 600;
    color: #7c7a7a;
    margin-left: 22px;
    font-size: 13px;
}
.mail-container h4 {
    font-weight: 500;
    color: #787575;
    font-size: 15px;
}
.mail-container {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border1 {
    margin-top: -5px;
    border-bottom: 1px solid #dbdada;
    width: 100%;
    margin-bottom: -16px;
}
.biodata h1 {
    font-family: sans-serif;
    margin-top: 25px;
    font-size: 22px;
}
.container-candidate {
    justify-content: space-evenly;
    display: flex;
}
.biodata h1 {
    margin-bottom: -16px;
    font-size: 21px;
}
.biodata h3 {
    font-weight: 500;
    margin-top: 20px;
    font-size: 15px;
    color: #ada6a6;
}
.biodata h2 {
    margin-top: -9px;
    color: #f94747;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}
.container-data p {
    color: #5c5b5b;
    font-size: 16px;
}
.container-seprate-box {
    display: flex;
}

.digital h4 {
    font-size: 12px;
    color: white;
    width: 73%;
    padding: 9px 14px;
    background-color: #d91c1c;
    border-radius: 8px;
    margin-top: 54px;
}

.container-right h1 {
    font-family: sans-serif;
    font-size: 22px;
   
}
.container-right h3 {
    font-family: sans-serif;
    font-size: 19px;
}

span.light {
    font-weight: 500;
    color: #0d0d0d;
    font-family: sans-serif;
}

.container-right p {
    font-weight: 600;
    color: #3a3838;
    font-size: 18px;
}

.border-lenght {

    color: white;
    border: 1px solid;
    background-color: black;
 
}
.border-lenght1 {
    color: white;
    border: 1px solid;
    background-color: black;
}
.list-titles {
    display: flex;
    align-items: center;
}
.list-titles h3 {
    font-weight: 500;
    color: #898484;
    margin-left: 24px;
    font-size: 16px;
}
.links-cont li {
    list-style-type: none;
    margin-top: 12px;
    color: #727070;
}
.container-left h1 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.border-lenght2 {
    border-bottom: 2px solid #c75353;
    width: 34%;
    margin-top: -11px;
}
.border-lenght3 {
    border-bottom: 2px solid #c75353;
    width: 37%;
    margin-top: -22px;
}
.border-lenght4 {
    border-bottom: 2px solid #c75353;
    width: 40%;
    margin-top: -15px;
}
.container-elect h2 {
    font-family: sans-serif;
    color: #403f3f;
    font-size: 15px;
}

.container-elect h3 {
    margin-top: -10px;
    color: #484747;
    font-size: 15px;
    margin-bottom: -12px;
}
ul.list2 li {
    font-size: 15px;
    color: #404040;
    margin-left: -19px;
}
.container-elect {
    margin-top: 12px;
    border-radius: 8px;
    padding: 5px;
}
.box {
    display: flex;
}
.box h5 {
    border-radius: 5px;
    padding: 7px 11px;
    border-radius: 30px;
    border: 1px solid;
  
}
.first-div h5 {
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 12px;
    border-radius: 30px;
    padding: 7px 8px;
  border: 1px solid;
    width: 22%;
 
}
.one-row {
    display: flex;
}
.two-row {
    display: flex;
}
.one-row h5 {
    border-radius: 30px;
    padding: 7px 11px;
    border: 1px solid;
  
}
.two-row h5 {
    border-radius: 30px;
    padding: 7px 11px;
    border: 1px solid;
  
}
.second-div h5 {
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 12px;
    border-radius: 30px;
    padding: 5px 14px;
    width: 29%;
    border: 1px solid;
}
.box1 {
    background-color: white;
}
.container-left {
    margin-top: -12px;
    margin-left: 19px;
}
.container-right {
    width: 60%;
}


.container-left {
    width: 40%;
}
@media (max-width:600px) {
    .second-div h5 {
        width: 100%;
    }
    .navbar {
       
        display: initial;
    }
    .container-seprate-box {
        display: initial;
    }

.container-left {
    width: 100%;
}
    ul.list2 li {
        margin-left: 0px;
    }
    .container-left {
        margin-left: 0px;
    }
    .one-row {
        display: initial;
    }
    .two-row {
        display: initial;
    }
    .first-div h5 {
        width: 100%;
     
    }
    .box {
        display: initial;
    }
    .border-lenght2 {
        width: 100%;
    }
    .border-lenght3 {
        width: 100%;
       
    }
    .border-lenght4 {
        width: 100%;
    }
    .container-right {
        width: 100%;
    }
} 


